<!DOCTYPE html>
<html>

    <head>
        <title>KhamuKoi</title>
        <include href="includes/header.html"></include>

    </head>

    <body>

    <!-- ============ nav bar  ============= -->
    <include href="includes/navhome.html"></include>
         
        <div id="top" class="starter_container bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="top-title"><img src="/328/Khamu/Restaurant-master/images/Khamulogo1.jpg" class="image1" height="280" width="300"/></h2>


                </div>
            </div>
        </div>

        <!-- ============ About Us ============= -->

        <section id="story" class="description_content">
            <div class="text-content container">
                <div class="col-md-6">
                    <h1>About us</h1>
                    <div class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text">Restaurant is a place for simplicity. KhamuKoi is a restaurant based in Dhaka, Bangladesh. Simple is the name of the game,
                        and we’re good at finding it in all the right places, even in your dining experience. Khamu means eat in Dhakaian dialect and
                        we are here to serve the local community with best American cuisine. Come join us and see what simplicity tastes like.</p>
                </div>
                <div class="col-md-6">
                    <div class="img-section">
<!--                       <img src="../images/kabob.jpg" width="250" height="220">-->
<!--                       <img src="../images/limes.jpg" width="250" height="220">-->
<!--                       <div class="img-section-space"></div>-->
<!--                       <img src="../images/radish.jpg" width="250" height="220">-->
<!--                       <img src="../images/corn.jpg" width="250" height="220">-->
                        <img src="/328/Khamu/Restaurant-master/images/KhamuKoilogo2.jpg" width="400" height="400" class="khamuimage">
                   </div>
                </div>
            </div>
        </section>

        <!-- ============ Footer Section  ============= -->
         <include href="includes/footer.html"></include>

    </body>
</html>