<!DOCTYPE html>
<html>

<head>
    <title>KhamuKoi</title>
    <include href="includes/header.html"></include>
</head>

<body>

<!-- ============ nav bar  ============= -->

<include href="includes/navmenu.html"></include>

<!-- ============ Menu  ============= -->

<section id ="pricing" class="description_content">
    <div class="pricing background_content">
        <h1><span>Affordable</span> pricing</h1>
    </div>
    <form action="#" method="post">
    <div class="wrapper">
        <div class="title">
            <h4>our menu</h4>
        </div>

        <div class="menu">

            <repeat group="{{ @menu }}" value="{{ @menu }}">

            {{ @menu->toString() }}

            </repeat>

        </div>

    </div>

    <div class="title">
        <h4>sides</h4>
    </div>
    <div class="row mb-3 px-3">

                <repeat group="{{ @sides }}" value="{{ @sides }}">

                    {{ @sides->toString() }}

                </repeat>
<p>tESTING</p>
        </div>

<br>

<div class="title">
    <h4>Beverages</h4>
</div>
<div class="row px-3">

    <repeat group="{{ @beverages }}" value="{{ @beverages }}">

        {{ @beverages->toString() }}

    </repeat>


</div>

<br>

<div class="row">
    <div class="col-6">
        <div class="text-right">

            <a href="summery"><button type="submit" class="btn btn-primary">Next ></button></a>
        </div>
    </div>
</div>



</form>

</section>

<!-- ============ Footer Section  ============= -->

<include href="includes/footer.html"></include>




</body>
</html>