<!DOCTYPE html>
<html>

<head>
    <title>KhamuKoi</title>
    <include href="includes/header.html"></include>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/328/Khamu/Restaurant-master/">KhamuKoi</a>
                <img src="/328/Khamu/Restaurant-master/logo.jpg" width="60" height="60" class="image2" alt="" loading="lazy" href="/328/Khamu/Restaurant-master/">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav main-nav  clear navbar-right ">
                    <li><a class="navactive color_animation" href="/328/Khamu/Restaurant-master/">WELCOME</a></li>
                    <li><a class="color_animation" href="/328/Khamu/Restaurant-master/">ABOUT</a></li>
                    <li><a class="color_animation" href="#pricing">MENU</a></li>
                    <li><a class="color_animation" href="reservation">RESERVATION</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>



<!-- ============ Menu  ============= -->

<section id ="pricing" class="description_content">
    <div class="pricing background_content">
        <h1><span>Affordable</span> Pricing</h1>
    </div>
    <div class="text-content container">
        <div class="container">
            <div class="row">
                <div id="w">
                    <ul id="filter-list" class="clearfix">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter="breakfast">Breakfast</li>
                        <li class="filter" data-filter="special">Special</li>
                        <li class="filter" data-filter="desert">Dessert</li>
                        <li class="filter" data-filter="dinner">Dinner</li>
                    </ul><!-- @end #filter-list -->
                    <ul id="portfolio">
                        <li class="item breakfast"><img src="/328/Khamu/Restaurant-master/images/food_icon01.jpg" alt="Food" >
                            <h2 class="white">$20</h2>
                        </li>

                        <li class="item dinner special"><img src="/328/Khamu/Restaurant-master/images/food_icon02.jpg" alt="Food" >
                            <h2 class="white">$20</h2>
                        </li>
                        <li class="item dinner breakfast"><img src="/328/Khamu/Restaurant-master/images/food_icon03.jpg" alt="Food" >
                            <h2 class="white">$18</h2>
                        </li>
                        <li class="item special"><img src="/328/Khamu/Restaurant-master/images/food_icon04.jpg" alt="Food" >
                            <h2 class="white">$15</h2>
                        </li>
                        <li class="item dinner"><img src="/328/Khamu/Restaurant-master/images/food_icon05.jpg" alt="Food" >
                            <h2 class="white">$20</h2>
                        </li>
                        <li class="item special"><img src="/328/Khamu/Restaurant-master/images/food_icon06.jpg" alt="Food" >
                            <h2 class="white">$22</h2>
                        </li>
                        <li class="item desert"><img src="/328/Khamu/Restaurant-master/images/food_icon07.jpg" alt="Food" >
                            <h2 class="white">$32</h2>
                        </li>
                        <li class="item desert breakfast"><img src="/328/Khamu/Restaurant-master/images/food_icon08.jpg" alt="Food" >
                            <h2 class="white">$38</h2>
                        </li>
                    </ul><!-- @end #portfolio -->
                </div><!-- @end #w -->
            </div>
        </div>
    </div>
</section>

<!-- ============ Footer Section  ============= -->

<include href="includes/footer.html"></include>


<script type="text/javascript" src="/328/Khamu/Restaurant-master/js/jquery-1.10.2.min.js"> </script>
<script type="text/javascript" src="/328/Khamu/Restaurant-master/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/328/Khamu/Restaurant-master/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/328/Khamu/Restaurant-master/js/jquery.mixitup.min.js" ></script>
<script type="text/javascript" src="/328/Khamu/Restaurant-master/js/main.js" ></script>

</body>
</html>