<!DOCTYPE html>
<html>

<head>
    <title>KhamuKoi</title>
    <include href="includes/header.html"></include>
</head>

<body>

<!-- ============ nav bar  ============= -->

<include href="includes/navmenu.html"></include>

<!-- ============ Menu  ============= -->

<section id ="pricing" class="description_content">
    <div class="pricing background_content">
        <h1><span>Affordable</span> pricing</h1>
    </div>
                    <div class="wrapper">
                        <div class="title">
                            <h4>our menu</h4>
                        </div>
                        <div class="menu">
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon01.jpg" alt="food1">2
                                <div class="menu-content">
                                    <h4>Pizza <span>$15</span></h4>
                                    <p>Brick oven pizza with marinara sauce and mozzarella cheese </p>
                                </div>
                            </div>
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon02.jpg" alt="">
                                <div class="menu-content">
                                    <h4>fried shrimp <span>$12</span></h4>
                                    <p>Local shrimp fried with beer batter. Comes with different cocktail sauce</p>
                                </div>
                            </div>
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon03.jpg" alt="">
                                <div class="menu-content">
                                    <h4>fish and chips <span>$15</span></h4>
                                    <p>Fried Cod fish battered in beer and local blend of spices</p>
                                </div>
                            </div>
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon04.jpg" alt="">
                                <div class="menu-content">
                                    <h4>Meat Platter <span>$40</span></h4>
                                    <p>Beef, Ox, Lamb and Deer meat comes with a side of mashed potato and gravy</p>
                                </div>
                            </div>
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon05.jpg" alt="">
                                <div class="menu-content">
                                    <h4>American Burger <span>$10</span></h4>
                                    <p>Classic american burger seasoned with local spices comes with fries</p>
                                </div>
                            </div>
                            <div class="single-menu">
                                <img src="/328/Khamu/Restaurant-master/images/food_icon06.jpg" alt="">
                                <div class="menu-content">
                                    <h4>chicken alfredo <span>$15</span></h4>
                                    <p>Chicken, cheese and alfredo sauce. Comes with side of fries</p>
                                </div>
                            </div>

                        </div>
                        <form action="#" method="post">

                            <div class="title">
                                <h4>sides</h4>
                            </div>
                            <div class="row mb-3 px-3">
                                <repeat group="{{ @indoor }}" value="{{ @indoor }}">
                                    <div class="col-md-3">
                                        <div class="form-check">


                                            <label class="form-check-label"> <input class="form-check-input" type="checkbox" value="{{ @indoor }}" id=indoor[] name="indoor[]"
                                                <check if="{{@indoor==@selectIndoor }}">
                                                    checked="checked"
                                                </check>>
                                                {{ ucfirst(@indoor) }}
                                            </label>
                                        </div>
                                    </div>
                                </repeat>


                                <span class="err">
            <check if="{{isset(@errors['indoor'])}}">
                {{@errors['indoor']}}
            </check>
        </span>
                            </div>

                            <br>

                            <div class="title">
                                <h4>Beverages</h4>
                            </div>
                            <div class="row px-3">

                                <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                                    <div class="col-md-3">
                                        <div class="form-check">


                                            <label class="form-check-label" ><input class="form-check-input" type="checkbox" value="{{ @outdoor }}" id=outdoor[] name="outdoor[]">
                                                <check if="{{@outdoor==@selectOutdoor }}">
                                                    checked="checked"
                                                </check>>

                                                {{ ucfirst(@outdoor) }}
                                            </label>
                                        </div>
                                    </div>
                                </repeat>


                                <span class="err">
            <check if="{{isset(@errors['outdoor'])}}">
                {{@errors['outdoor']}}
            </check>
        </span>


                            </div>

                            <br>


                            <div class="row">
                                <div class="col-6">
                                    <div class="text-right">

                                        <a href="summery"><button type="submit" class="btn btn-primary">Next ></button></a>
                                    </div>
                                </div>
                            </div>



                        </form>

                    </div>

</section>

<!-- ============ Footer Section  ============= -->

<include href="includes/footer.html"></include>




</body>
</html>